[submodule "packages/backend"]
	path = packages/backend
	url = https://github.com/shivarajbakale/redirector-backend
[submodule "packages/chrome"]
	path = packages/chrome
	url = https://github.com/shivarajbakale/redirector-chrome
